Repository python-discord/bot, pull requests merged in 2019-11, with the labels that each got.

#638 Use timedelta to correctly calculate next midnight
  bot/cogs/reddit.py
Labels: area: backend

#631 Remove redirection on rules command
  bot/cogs/site.py
Labels: area: cogs, type: enhancement

#640 Write tests for `bot.utils`.
  tests/bot/test_utils.py
Labels: area: unit tests

#648 Show custom statuses in !user output
  bot/cogs/information.py
Labels: area: frontend, type: enhancement

#637 User command enhancements
  bot/cogs/information.py
  tests/bot/cogs/test_information.py
Labels: area: cogs, area: frontend, type: bug, type: enhancement

#618 Schedule superstarify infractions for expiration
  bot/cogs/moderation/infractions.py
  bot/cogs/moderation/scheduler.py
  bot/cogs/moderation/superstarify.py
  bot/cogs/moderation/utils.py
  bot/constants.py
  config-default.yml
Labels: area: moderation, priority: critical, type: bug, type: enhancement

#653 Allow helpers to nominate people
  bot/cogs/watchchannels/bigbrother.py
  bot/cogs/watchchannels/talentpool.py
Labels: priority: high

#641 Add unit test for links antispam rule
  tests/bot/rules/test_links.py
Labels: area: unit tests

#656 Forward pings in checkpoint to mod-alerts and reword periodic checkpoint ping
  bot/cogs/verification.py
Labels: area: filters, type: enhancement, type: feature

#660 Enhancements for `tests.helpers` and our test suite
  tests/bot/cogs/test_information.py
  tests/bot/cogs/test_token_remover.py
  tests/bot/test_api.py
  tests/bot/utils/test_checks.py
  tests/helpers.py
  tests/test_helpers.py
Labels: area: unit tests, priority: high, type: bug, type: enhancement

#619 Moderation logging
  bot/cogs/eval.py
  bot/cogs/filtering.py
  bot/cogs/moderation/scheduler.py
  bot/cogs/moderation/superstarify.py
  bot/cogs/moderation/utils.py
  bot/interpreter.py
  bot/utils/scheduling.py
Labels: area: Moderation, type: Enhancement

#546 Docs command improvements
  bot/cogs/doc.py
Labels: type: Enhancement

#621 Duck pond!
  bot/__main__.py
  bot/cogs/duck_pond.py
  bot/constants.py
  config-default.yml
  tests/README.md
  tests/bot/cogs/test_duck_pond.py
  tests/helpers.py
Labels: area: utility, priority: 3 - low, type: feature

#646 Change `on_message_edit` - only show differences, highlighted in blue with hyperlink
  bot/cogs/moderation/modlog.py
Labels: area: moderation, priority: 3 - low, status: needs review, type: enhancement
