Repository python-discord/bot, pull requests merged in 2019-09, with the labels that each got.

#398 Fix/enhance README file
  README.md
Labels: type: docs

#419 Add tests for `bot.utils.checks`.
  tests/utils/__init__.py
  tests/utils/test_checks.py
Labels: area: CI, area: backend, type: enhancement

#417 Validate bot.cogs.antispam configuration on CI.
  bot/cogs/antispam.py
  tests/cogs/test_antispam.py
Labels: area: CI, area: cogs, type: enhancement

#423 Add basic tests for `bot.pagination`.
  tests/test_pagination.py
Labels: area: CI, area: backend, type: enhancement

#427 Validate `bot/resources/stars.json` in tests.
  tests/test_resources.py
Labels: area: CI, area: backend, type: enhancement

#428 Add tests for `bot.cogs.token_remover`.
  tests/cogs/test_token_remover.py
  tests/helpers.py
  tox.ini
Labels: area: CI, area: backend, type: enhancement

#430 Add tests for `bot.cogs.security`.
  tests/cogs/test_security.py
Labels: area: CI, area: backend, type: enhancement

#433 Update discord.py version to 1.2.3
  Pipfile
  Pipfile.lock
  bot/__main__.py
  bot/cogs/alias.py
  bot/cogs/antispam.py
  bot/cogs/bot.py
  bot/cogs/clean.py
  bot/cogs/cogs.py
  bot/cogs/defcon.py
  bot/cogs/doc.py
  bot/cogs/error_handler.py
  bot/cogs/eval.py
  bot/cogs/filtering.py
  bot/cogs/free.py
  bot/cogs/help.py
  bot/cogs/information.py
  bot/cogs/jams.py
  bot/cogs/logging.py
  bot/cogs/moderation.py
  bot/cogs/modlog.py
  bot/cogs/off_topic_names.py
  bot/cogs/reddit.py
  bot/cogs/reminders.py
  bot/cogs/security.py
  bot/cogs/site.py
  bot/cogs/snekbox.py
  bot/cogs/superstarify/__init__.py
  bot/cogs/sync/cog.py
  bot/cogs/tags.py
  bot/cogs/token_remover.py
  bot/cogs/utils.py
  bot/cogs/verification.py
  bot/cogs/watchchannels/bigbrother.py
  bot/cogs/watchchannels/talentpool.py
  bot/cogs/watchchannels/watchchannel.py
  bot/cogs/wolfram.py
  bot/patches/__init__.py
  bot/patches/message_edited_at.py
  bot/utils/__init__.py
  bot/utils/scheduling.py
Labels: area: backend, area: cogs, area: dependencies, priority: high, type: enhancement

#429 Implement `!otn search`. Closes #408.
  bot/cogs/off_topic_names.py
Labels: area: cogs, area: frontend, type: feature

#422 Use `@pytest.fixture` for creating contexts.
  tests/utils/test_checks.py
Labels: area: backend, type: tests

#418 Add tests for `bot.converters`.
  tests/test_converters.py
Labels: area: backend, type: tests

#432 Add coverage reporting & JUnit XML to tests.
  .gitignore
  Pipfile
  Pipfile.lock
  azure-pipelines.yml
Labels: area: CI, type: enhancement

#425 Validate configuration against typehints, remove old keys, rename off_topic_3 key
  azure-pipelines.yml
  bot/constants.py
  config-default.yml
  tests/test_constants.py
Labels: area: backend, type: tests

#424 Add basic tests for `bot.api`.
  tests/helpers.py
  tests/test_api.py
Labels: area: API, type: tests

#436 Enhance off-topic names search feature
  bot/cogs/off_topic_names.py
Labels: area: cogs, type: enhancement

#437 Escape markdown in codeblock suggestion embed
  bot/cogs/bot.py
Labels: area: frontend, priority: low, type: bug

#431 Add basic tests for `bot.cogs.information`.
  tests/cogs/test_information.py
  tests/conftest.py
Labels: area: cogs, type: tests

#438 Infraction Search Dates
  bot/cogs/moderation.py
Labels: area: cogs, area: frontend, type: enhancement

#426 Add tests for `bot.rules.attachments`.
  bot/rules/attachments.py
  tests/rules/__init__.py
  tests/rules/test_attachments.py
Labels: area: backend, type: tests

#405 Make DEFCON days subcommand enable DEFCON
  bot/cogs/defcon.py
Labels: area: cogs, type: enhancement

#449 Fix failing duration conversion
  Pipfile
  Pipfile.lock
  bot/cogs/antispam.py
  bot/cogs/moderation.py
  bot/cogs/reminders.py
  bot/cogs/superstarify/__init__.py
  bot/converters.py
  tests/test_converters.py
Labels: area: moderation, priority: critical, type: bug

#444 Docker Build & CI Refinements
  .gitignore
  Dockerfile
  Pipfile
  Pipfile.lock
  azure-pipelines.yml
  bot/cogs/reminders.py
  docker-compose.yml
  docker/ci.Dockerfile
  scripts/deploy-azure.sh
Labels: area: CI, type: enhancement

#443 Change log.error to log.exception
  bot/cogs/cogs.py
Labels: area: cogs, type: enhancement

#450 Prevent false-positives of the rich embed filter
  bot/cogs/filtering.py
Labels: area: filters, priority: low, type: enhancement

#448 Catch error in case of non successfull API call for new ot-names
  bot/cogs/off_topic_names.py
Labels: area: cogs, type: bug

#455 Free Command Fix
  bot/cogs/free.py
Labels: area: cogs, area: frontend, priority: high, type: bug

#457 Merge infraction edit commands
  bot/cogs/moderation.py
  bot/cogs/superstarify/__init__.py
  bot/cogs/verification.py
  bot/cogs/watchchannels/talentpool.py
  bot/cogs/watchchannels/watchchannel.py
  bot/utils/time.py
Labels: area: moderation, type: enhancement
