Repository python-discord/bot, pull requests merged in 2019-08, with the labels that each got.

#392 re-add django event handlers, allow for reading out responses in API errors in case something breaks
  bot/__main__.py
  bot/api.py
  bot/cogs/error_handler.py
  bot/cogs/sync/cog.py
  bot/cogs/watchchannels/talentpool.py
  bot/cogs/watchchannels/watchchannel.py
Labels: cogs

#396 Write logs into the site
  bot/__main__.py
  bot/api.py
Labels: area: backend, area: backend/API, area: moderation, type: feature

#397 Django role api changes
  bot/cogs/sync/cog.py
  bot/cogs/sync/syncers.py
  tests/cogs/sync/test_roles.py
Labels: area: backend/API, status: stalled, type: feature

#399 Updating the deleted message front-end URL to the staff subdomain
  config-default.yml
Labels: status: stalled
