Repository python-discord/bot, pull requests merged in 2019-10, with the labels that each got.

#475 Make `!tags edit` use PATCH to update tags
  bot/cogs/tags.py
Labels: area: API, area: backend, priority: low, type: bug

#467 Forward arguments to !docs get
  bot/cogs/doc.py
  bot/converters.py
Labels: area: cogs, type: bug

#483 Fix `cog_unload` bug in WatchChannel ABC
  bot/cogs/watchchannels/watchchannel.py
Labels: area: cogs, area: moderation, priority: low, type: bug

#486 Fix mutes not being re-applied on rejoins.
  bot/cogs/moderation.py
Labels: area: API, area: moderation, priority: critical, type: bug

#481 Add checks for valid response and retries to fetch_posts()
  bot/cogs/reddit.py
Labels: area: cogs, type: bug

#473 Add converter for ISO-formatted datetime strings
  bot/converters.py
  tests/test_converters.py
Labels: area: backend, priority: low, type: enhancement

#490 Show previous watch reason and total after invoking watch command
  bot/cogs/watchchannels/bigbrother.py
  bot/cogs/watchchannels/talentpool.py
Labels: area: frontend, area: moderation, type: enhancement

#441 Add role info command
  bot/cogs/information.py
  tests/cogs/test_information.py
Labels: area: cogs, type: feature

#492 Fix error when symbol_id cannot be found in doc HTML
  bot/cogs/doc.py
Labels: area: cogs, type: bug

#498 Feat/attachment spam threshold
  config-default.yml
Labels: area: filters, type: enhancement

#462 Moderation cog cleanup
  bot/__main__.py
  bot/cogs/antispam.py
  bot/cogs/clean.py
  bot/cogs/defcon.py
  bot/cogs/filtering.py
  bot/cogs/help.py
  bot/cogs/moderation.py
  bot/cogs/moderation/__init__.py
  bot/cogs/moderation/infractions.py
  bot/cogs/moderation/management.py
  bot/cogs/moderation/modlog.py
  bot/cogs/moderation/superstarify.py
  bot/cogs/moderation/utils.py
  bot/cogs/superstarify/stars.py
  bot/cogs/token_remover.py
  bot/cogs/verification.py
  bot/cogs/watchchannels/bigbrother.py
  bot/cogs/watchchannels/watchchannel.py
  bot/decorators.py
  bot/resources/stars.json
  bot/utils/moderation.py
  tests/test_resources.py
Labels: area: moderation, type: enhancement

#504 Show the reason in infraction confirmation message if the actor is the bot
  bot/cogs/antispam.py
  bot/cogs/moderation/infractions.py
Labels: area: frontend, area: moderation, type: enhancement

#505 Ensure display name changes are logged to the user-log
  bot/cogs/moderation/modlog.py
Labels: area: moderation, type: bug

#484 Refactor "Cogs" cog
  bot/__main__.py
  bot/cogs/alias.py
  bot/cogs/cogs.py
  bot/cogs/extensions.py
Labels: area: cogs, type: bug, type: enhancement

#488 Prepare cogs on cog init & wait for bot ready flag
  bot/cogs/antispam.py
  bot/cogs/defcon.py
  bot/cogs/doc.py
  bot/cogs/logging.py
  bot/cogs/off_topic_names.py
  bot/cogs/reddit.py
  bot/cogs/reminders.py
  bot/cogs/sync/cog.py
Labels: area: cogs, type: enhancement

#512 Log member_ban event to #user-log
  bot/cogs/moderation/infractions.py
  bot/cogs/moderation/modlog.py
Labels: area: frontend, area: moderation, type: enhancement

#509 Moderation tweaks
  bot/cogs/moderation/infractions.py
  bot/cogs/moderation/management.py
  bot/cogs/moderation/superstarify.py
  bot/cogs/moderation/utils.py
Labels: area: moderation, type: enhancement

#506 Expand token detection regex character exclusion
  bot/cogs/token_remover.py
Labels: area: cogs, type: enhancement

#421 Add tests for `bot.utils.time`.
  bot/utils/time.py
  tests/helpers.py
  tests/utils/test_time.py
Labels: area: backend, type: tests

#495 Add Periodic Ping to Checkpoint
  .gitignore
  bot/cogs/verification.py
Labels: area: cogs, type: enhancement

#520 Move the `sync` cog tests to `unittest`.
  tests/cogs/__init__.py
  tests/cogs/sync/__init__.py
  tests/cogs/sync/test_roles.py
  tests/cogs/sync/test_users.py
Labels: area: backend, area: cogs, type: tests

#521 Move the `resources` cog tests to `unittest`.
  tests/bot/resources/test_resources.py
Labels: area: CI, area: backend, type: tests

#524 Move the `antispam` cog tests to `unittest`.
  tests/cogs/__init__.py
  tests/cogs/test_antispam.py
Labels: area: CI, area: backend, type: tests

#522 Move the `pagination` module tests to `unittest`.
  tests/test_pagination.py
Labels: area: CI, area: backend, type: tests

#378 Change pep command to use `.txt` by default
  bot/cogs/utils.py
Labels: area: cogs, status: awaiting response, type: bug

#503 Add raw command
  bot/cogs/information.py
  bot/utils/checks.py
Labels: area: cogs, type: feature

#493 Create the !mention command.
  bot/cogs/utils.py
  bot/constants.py
  config-default.yml
Labels: area: cogs, type: feature

#511 Prevent too similar off-topic channel names
  bot/cogs/antispam.py
  bot/cogs/defcon.py
  bot/cogs/doc.py
  bot/cogs/filtering.py
  bot/cogs/moderation/modlog.py
  bot/cogs/moderation/superstarify.py
  bot/cogs/off_topic_names.py
  bot/cogs/snekbox.py
Labels: area: cogs, type: enhancement

#545 Pluralize "infractions" as necessary.
  bot/cogs/moderation/infractions.py
Labels: area: cogs, area: frontend, type: enhancement

#528 Antimalware cog
  bot/__main__.py
  bot/cogs/antimalware.py
  bot/constants.py
  config-default.yml
Labels: area: cogs, type: feature

#517 Migrating the test suite to the `unittest` framework
  .coveragerc
  .gitignore
  Pipfile
  Pipfile.lock
  azure-pipelines.yml
  tests/README.md
  tests/__init__.py
  tests/base.py
  tests/bot/__init__.py
  tests/bot/cogs/__init__.py
  tests/bot/cogs/sync/__init__.py
  tests/bot/cogs/sync/test_roles.py
  tests/bot/cogs/sync/test_users.py
  tests/bot/cogs/test_antispam.py
  tests/bot/cogs/test_information.py
  tests/bot/cogs/test_security.py
  tests/bot/cogs/test_token_remover.py
  tests/bot/patches/__init__.py
  tests/bot/resources/__init__.py
  tests/bot/resources/test_resources.py
  tests/bot/rules/__init__.py
  tests/bot/rules/test_attachments.py
  tests/bot/test_api.py
  tests/bot/test_constants.py
  tests/bot/test_converters.py
  tests/bot/test_pagination.py
  tests/bot/utils/__init__.py
  tests/bot/utils/test_checks.py
  tests/cogs/sync/test_roles.py
  tests/cogs/sync/test_users.py
  tests/cogs/test_antispam.py
  tests/cogs/test_information.py
  tests/cogs/test_security.py
  tests/cogs/test_token_remover.py
  tests/conftest.py
  tests/helpers.py
  tests/rules/test_attachments.py
  tests/test_api.py
  tests/test_base.py
  tests/test_constants.py
  tests/test_converters.py
  tests/test_helpers.py
  tests/test_resources.py
  tests/utils/test_checks.py
Labels: area: backend, type: enhancement

#541 Fix defcon having wrong text when disabling.
  bot/cogs/defcon.py
Labels: area: cogs, priority: low, type: bug

#547 Don't show infraction total outside staff channels.
  bot/cogs/moderation/infractions.py
  bot/constants.py
  config-default.yml
Labels: area: moderation, priority: high, type: enhancement

#552 Prepend emoji indicative of success of !eval
  bot/cogs/snekbox.py
Labels: area: frontend, type: enhancement

#529 Display word triggered by watchlist in #mod-alerts
  bot/cogs/filtering.py
Labels: area: frontend, type: enhancement

#550 Use standard filter conditions even if DEBUG_MODE is on.
  bot/cogs/filtering.py
Labels: area: filters, type: bug

#543 Restrict ModManagement commands to moderation channels
  bot/cogs/moderation/management.py
  bot/constants.py
  bot/utils/checks.py
  config-default.yml
  tests/bot/utils/test_checks.py
Labels: area: moderation, priority: low, type: enhancement

#466 New reminder features
  bot/cogs/reminders.py
Labels: area: cogs, type: enhancement

#501 Utilise `tasks.loop` and webhooks for reddit postings.
  bot/cogs/reddit.py
  bot/constants.py
  config-default.yml
Labels: area: cogs, type: enhancement

#527 Reduce `!free` output
  bot/cogs/free.py
Labels: area: frontend, type: enhancement

#635 Enhance Reddit webhook embeds
  bot/cogs/reddit.py
  bot/constants.py
  config-default.yml
Labels: area: cogs, area: frontend, priority: low, type: bug, type: enhancement

#626 Chain words before length check for OffTopicName conversion
  bot/cogs/off_topic_names.py
Labels: area: cogs, type: bug

#629 Enhancements and a bug fix for our test helpers
  tests/helpers.py
  tests/test_helpers.py
Labels: area: unit tests, priority: critical, type: bug
