Repository python-discord/bot, pull requests merged in 2020-11, with the labels that each got.

#1265 Voice Gate: User activity blocks
  bot/constants.py
  bot/exts/moderation/voice_gate.py
  config-default.yml
Labels: a: moderation, p: 1 - high

#901 PEP command improvements
  bot/exts/info/doc.py
  bot/exts/utils/utils.py
  bot/utils/cache.py
Labels: a: utility, p: 2 - normal, t: bug

#1266 Updated langs to include python-repl
  bot/exts/info/codeblock/_parsing.py
Labels: a: backend, p: 2 - normal, s: waiting for author, t: feature

#1219 CI: avoid failing whole job if a cache task fails
  azure-pipelines.yml
Labels: a: CI, p: 2 - normal, t: bug

#1148 New guilds tag
  bot/resources/tags/guilds.md
Labels: a: tags, p: 2 - normal, t: feature

#1273 Detect codeblock language specifiers with special characters
  bot/exts/info/codeblock/_parsing.py
Labels: a: information, p: 2 - normal, t: bug

#1272 Voice Gate: notify new unverified users in the verification channel
  bot/constants.py
  bot/exts/moderation/voice_gate.py
  config-default.yml
Labels: a: backend, a: frontend, p: 1 - high

#1284 Migrate CI Pipeline to GitHub Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint-test-build.yml
  Pipfile
  Pipfile.lock
  README.md
  azure-pipelines.yml
  docker-compose.yml
Labels: a: CI, l: 1 - intermediate, p: 2 - normal

#1245 Store the bot instance as a global variable
  .gitignore
  bot/__init__.py
  bot/__main__.py
  bot/bot.py
  bot/constants.py
  bot/exts/backend/sync/_cog.py
  bot/exts/backend/sync/_syncers.py
  bot/exts/help_channels.py
  bot/exts/info/codeblock/_cog.py
  bot/exts/info/doc.py
  bot/exts/info/help.py
  bot/exts/info/tags.py
  bot/exts/utils/internal.py
  bot/exts/utils/snekbox.py
  bot/interpreter.py
  bot/log.py
  bot/utils/channel.py
  bot/utils/messages.py
  bot/utils/services.py
  tests/bot/exts/backend/sync/test_base.py
  tests/bot/exts/backend/sync/test_cog.py
  tests/bot/exts/backend/sync/test_roles.py
  tests/bot/exts/backend/sync/test_users.py
  tests/bot/exts/utils/test_snekbox.py
  tests/bot/utils/test_services.py
Labels: a: backend, p: 2 - normal, t: feature

#1290 Ensure flake8 actually lints pull requests
  .github/workflows/build.yml
  .github/workflows/lint-test.yml
  Pipfile
  README.md
  docker-compose.yml
Labels: a: CI, t: bug, t: feature

#1286 Kubernetes deployment
  .github/workflows/lint-test-deploy.yml
  config-default.yml
  deployment.yaml
Labels: a: CI, needs 2 approvals, p: 0 - critical, t: feature

#1287 Updated available help channel embed
  bot/constants.py
  bot/exts/help_channels.py
  config-default.yml
Labels: a: help channels, needs 1 approval, p: 2 - normal

#1204 Modify `!superstar` to use `apply_infraction`.
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/superstarify.py
Labels: a: moderation, p: 2 - normal, t: bug

#1307 Add voice_ban to supported types of the infraction scheduler
  bot/exts/moderation/infraction/infractions.py
Labels: a: moderation, needs 1 approval, p: 0 - critical, t: bug

#1294 Help Channel Refactor
  .github/CODEOWNERS
  bot/constants.py
  bot/exts/help_channels.py
  bot/exts/help_channels/__init__.py
  bot/exts/help_channels/_caches.py
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_cooldown.py
  bot/exts/help_channels/_message.py
  bot/exts/help_channels/_name.py
  config-default.yml
Labels: a: help channels, p: 2 - normal, t: feature

#1311 Add myself to CODEOWNERS
  .github/CODEOWNERS
Labels: needs 2 approvals

#1310 General moderation improvements
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
Labels: a: moderation, t: feature

#1197 Infraction subcommand for amending infraction reasons
  bot/converters.py
  bot/exts/moderation/infraction/management.py
Labels: a: moderation, t: feature
