Repository python-discord/bot, pull requests merged in 2021-12, with the labels that each got.

#1928 Manage nomination threads in bot
  bot/constants.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
Labels: t: feature, a: backend, p: 2 - normal, a: recruitment, s: needs review

#1868 Subscribe with buttons
  bot/constants.py
  bot/exts/help_channels/_cog.py
  bot/exts/info/subscribe.py
  bot/exts/moderation/verification.py
  bot/utils/members.py
  config-default.yml
Labels: t: feature, a: backend, a: frontend, p: 3 - low, s: needs review

#1939 Dynamic views for command help embeds
  bot/exts/backend/error_handler.py
  bot/exts/info/help.py
  tests/bot/exts/backend/test_error_handler.py
Labels: t: feature, a: frontend, p: 3 - low, a: information, s: needs review

#1985 Redirect subscribe command output to bot commands
  bot/exts/info/subscribe.py
Labels: a: utility, t: enhancement

#1991 Update PEP Repo URL
  bot/exts/info/pep.py
Labels: t: bug, a: backend, p: 1 - high, a: information

#1993 Attempt to fetch un-cached nomination threads on archive
  bot/exts/recruitment/talentpool/_review.py
Labels: t: bug, a: backend, p: 2 - normal, s: needs review

#1892 Update username checks
  bot/exts/filters/filtering.py
Labels: a: moderation, a: filters, p: 2 - normal, s: needs review

#1994 fix: parse whitespace out of pep titles
  bot/exts/info/pep.py
Labels: p: 2 - normal, a: information, s: needs review

#1634 Modpings schedule
  bot/exts/moderation/modpings.py
Labels: t: feature, a: backend, a: moderation, p: 2 - normal, s: needs review

#1663 Add tag groups and in file metadata
  bot/converters.py
  bot/exts/backend/error_handler.py
  bot/exts/info/source.py
  bot/exts/info/tags.py
  tests/bot/exts/backend/test_error_handler.py
  tests/bot/test_converters.py
Labels: t: feature, a: backend, p: 2 - normal, a: tags, s: needs review

#1539 Move static content site commands to tags
  bot/exts/info/information.py
  bot/exts/info/site.py
  bot/resources/tags/faq.md
  bot/resources/tags/resources.md
  bot/resources/tags/site.md
  bot/resources/tags/tools.md
Labels: t: feature, a: backend, p: 3 - low, a: tags, s: needs review

#1997 Reduce threshold before fuzzy matching to 2
  bot/exts/info/tags.py
Labels: a: frontend, p: 2 - normal, a: information, t: enhancement, s: needs review

#1982 Rename channels.discord_py to discord_bots
  bot/constants.py
  bot/exts/moderation/slowmode.py
  bot/exts/utils/utils.py
  config-default.yml
Labels: a: backend, p: 3 - low, t: enhancement

#1989 Clean improvements
  bot/exts/moderation/clean.py
Labels: t: bug, a: moderation, p: 2 - normal, t: enhancement

#2019 Better off topic tags
  bot/resources/tags/off-topic-names.md
  bot/resources/tags/off-topic.md
  bot/resources/tags/ot.md
Labels: p: 2 - normal, a: tags, t: enhancement, s: needs review

#1951 Display whether DM was sent to user when listing infraction(s).
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/management.py
  tests/bot/exts/moderation/infraction/test_utils.py
Labels: a: backend, a: API, a: moderation, p: 3 - low, t: enhancement, s: needs review

#2027 Add missing `bot` parameter to call
  bot/exts/moderation/infraction/_scheduler.py
Labels: t: bug, a: backend, p: 0 - critical, a: moderation, s: needs review

#2028 Add missing infraction id parameter & change ctx.bot to self.bot
  bot/exts/moderation/infraction/_scheduler.py
Labels: t: bug, a: backend, p: 0 - critical, a: moderation, s: needs review

#1889 feat: added url parsing to the filter
  bot/exts/filters/filtering.py
  poetry.lock
  pyproject.toml
Labels: a: backend, a: filters, p: 2 - normal, s: needs review

#2016 Include message counts in all channels
  bot/exts/info/information.py
  bot/exts/moderation/voice_gate.py
  tests/bot/exts/info/test_information.py
Labels: a: API, p: 2 - normal, a: information, t: enhancement, s: needs review

#2000 Strip gotcha tag
  bot/resources/tags/strip-gotcha.md
Labels: p: 3 - low, a: tags, s: needs review

#2013 Add text indicating when user fetched by message
  bot/exts/info/information.py
  tests/bot/exts/info/test_information.py
Labels: a: frontend, p: 2 - normal, a: information, t: enhancement
