Repository python-discord/bot, pull requests merged in 2021-09, with the labels that each got.

#1796 Make the base_url argument in doc set optional
  bot/exts/info/doc/_cog.py
Labels: t: bug, a: backend, a: docs, p: 2 - normal

#1487 Goodbye, #talent-pool
  bot/constants.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
  config-default.yml
Labels: a: backend, p: 1 - high, t: enhancement, a: recruitment

#1794 Add concurrency rules to all GitHub workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint-test.yml
  .github/workflows/sentry_release.yml
  .github/workflows/status_embed.yaml
Labels: t: feature, a: CI, p: 2 - normal

#1811 Pin platform in Dockerfile
  Dockerfile
Labels: p: 1 - high, a: CI, t: enhancement

#1810 Server command now uses correct TalentPool attr
  bot/exts/info/information.py
Labels: t: bug, a: frontend, p: 2 - normal, a: information

#1804 Add support for `!infraction last`
  bot/converters.py
  bot/errors.py
  bot/exts/moderation/infraction/management.py
Labels: t: feature, a: backend, a: moderation, p: 2 - normal

#1813 Declare TalentPool.cache on init of cog
  bot/exts/info/information.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
Labels: a: backend, p: 2 - normal, t: enhancement, s: needs review

#1819 Add string-formatting tag
  bot/resources/tags/string-formatting.md
Labels: a: tags

#1788 Only check URL-like objects against domain filters
  bot/exts/filters/filtering.py
Labels: t: bug, a: filters, p: 2 - normal

#1820 Add metricity to docker-compose
  .gitignore
  bot/bot.py
  docker-compose.yml
Labels: a: CI, p: 2 - normal, t: enhancement, s: needs review

#1843 Update paste-site URL in `!paste`
  bot/resources/tags/paste.md
Labels: a: backend, p: 3 - low, a: tags, t: enhancement, s: needs review

#1846 Suppress NotFound for batch deletion.
  bot/exts/filters/antispam.py
Labels: t: bug, a: backend, a: moderation, p: 2 - normal

#1825 Use scheduling create_task util to create tasks
  bot/async_stats.py
  bot/decorators.py
  bot/exts/backend/branding/_cog.py
  bot/exts/backend/config_verifier.py
  bot/exts/backend/logging.py
  bot/exts/backend/sync/_cog.py
  bot/exts/filters/antispam.py
  bot/exts/filters/filter_lists.py
  bot/exts/filters/filtering.py
  bot/exts/fun/duck_pond.py
  bot/exts/fun/off_topic_names.py
  bot/exts/help_channels/_cog.py
  bot/exts/info/codeblock/_cog.py
  bot/exts/info/doc/_batch_parser.py
  bot/exts/info/doc/_cog.py
  bot/exts/info/pep.py
  bot/exts/info/python_news.py
  bot/exts/moderation/defcon.py
  bot/exts/moderation/incidents.py
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/metabase.py
  bot/exts/moderation/modpings.py
  bot/exts/moderation/silence.py
  bot/exts/moderation/stream.py
  bot/exts/moderation/watchchannels/_watchchannel.py
  bot/exts/utils/reminders.py
  bot/exts/utils/snekbox.py
  tests/bot/exts/backend/sync/test_cog.py
  tests/helpers.py
Labels: a: backend, p: 2 - normal, t: enhancement, s: needs review

#1822 python-news escape fixes
  bot/exts/info/python_news.py
Labels: t: bug, a: backend, p: 2 - normal, s: needs review
