Repository python-discord/bot, pull requests merged in 2021-06, with the labels that each got.

#1594 feat: add async-await tag
  bot/resources/tags/async-await.md
Labels: a: tags, p: 3 - low, t: feature

#1609 Fix infraction rescheduler breaking with more than 100 in flight reactions
  bot/exts/moderation/infraction/_scheduler.py
Labels: a: backend, a: moderation, p: 0 - critical, t: enhancement

#1587 Prioritize DM over channel message for voice verification ping.
  bot/exts/moderation/voice_gate.py
Labels: a: backend, p: 2 - normal, t: enhancement

#1623 Allow text format warning to remove multiple formats.
  bot/exts/filters/antimalware.py
  tests/bot/exts/filters/test_antimalware.py
Labels: a: backend, a: filters, p: 3 - low, t: enhancement

#1633 Infraction: DM mention that the expiration is in UTC time
  bot/exts/moderation/infraction/_utils.py
  tests/bot/exts/moderation/infraction/test_utils.py
Labels: a: moderation, p: 3 - low, t: enhancement

#1636 Add black-formatter to reminders overrides
  bot/constants.py
  config-default.yml
Labels: a: backend, a: utility, good first issue, p: 2 - normal, t: enhancement

#1637 Add an optional loop kwarg to scheduling.create_task
  bot/utils/messages.py
  bot/utils/scheduling.py
Labels: a: backend, t: enhancement

#1629 helpdm for participants
  bot/exts/help_channels/_caches.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_message.py
Labels: a: backend, a: help channels, p: 2 - normal, t: feature

#1639 Allowing python community and partners to run !poll
  bot/exts/utils/utils.py
Labels: a: backend, a: utility, p: 3 - low, t: enhancement

#1642 Fix helpdm couldn't DM the user
  bot/exts/help_channels/_cog.py
Labels: a: backend, a: help channels, good first issue, p: 1 - high, t: bug

#1638 Proposed alternative "available help channel" message.
  bot/exts/help_channels/_message.py
Labels: a: backend, a: help channels, p: 2 - normal, t: enhancement

#1649 Filters: up character limit to 4,200
  config-default.yml
Labels: a: filters, p: 0 - critical, t: bug

#1651 Only fetch message counts if in mod channel
  bot/exts/info/information.py
Labels: a: backend, p: 2 - normal, t: bug

#1650 Change seen emoji to reviewed emoji
  bot/exts/recruitment/talentpool/_review.py
Labels: a: backend, a: recruitment, p: 3 - low, t: enhancement

#1644 Add dunder methods tag
  bot/resources/tags/dunder-methods.md
Labels: a: backend, a: tags, p: 3 - low, t: feature

#1648 Don't voice verify ping users who join a stage channel
  bot/exts/moderation/voice_gate.py
  bot/pagination.py
  poetry.lock
  pyproject.toml
Labels: a: backend, a: moderation, p: 2 - normal, t: bug

#1654 Reorder everyone ping filter so it fires after watch_regex
  bot/exts/filters/filtering.py
Labels: a: backend, a: filters, p: 2 - normal, t: enhancement

#1626 Pytest-xdist
  .github/workflows/lint-test.yml
  poetry.lock
  pyproject.toml
  tests/README.md
Labels: a: tests, a: tools, p: 2 - normal, t: feature

#1659 move cov config to toml
  .coveragerc
  poetry.lock
  pyproject.toml
Labels: a: CI, a: tools, p: 2 - normal, t: enhancement

#1661 Remove the pixels token detector
  bot/exts/filters/pixels_token_remover.py
Labels: a: backend, p: 2 - normal
