Repository python-discord/bot, pull requests merged in 2021-05, with the labels that each got.

#1556 feat: Use embed timestamp in modpings off
  bot/exts/moderation/modpings.py
Labels: a: backend, a: moderation, p: 2 - normal, t: enhancement

#1520 Create str-join.md
  bot/resources/tags/str-join.md
Labels: a: tags, p: 3 - low, t: feature

#1517 Create identity.md
  bot/resources/tags/identity.md
Labels: a: tags, p: 3 - low, t: feature

#1441 Unescape html escape characters in reddit text and titles
  bot/exts/info/reddit.py
Labels: a: backend, p: 2 - normal, t: bug

#1531 Redirect output to bot-commands channel for the !eval command
  bot/decorators.py
  bot/exts/utils/snekbox.py
Labels: a: backend, a: utility, p: 3 - low, t: feature

#1561 Add New Celebrities to `!superstarify`.
  bot/resources/stars.json
Labels: a: backend, a: moderation, p: 3 - low, s: WIP, t: enhancement

#1569 Prevent accidental addition of users to talentpool cache when using `!talentpool get_review`
  bot/exts/recruitment/talentpool/_review.py
Labels: a: recruitment, p: 1 - high, t: bug

#1430 Add logging and restart config to docker compose
  docker-compose.yml
Labels: a: backend, a: tools, p: 3 - low, t: enhancement

#1572 Escape markdown in the edited message contents before getting their diff.
  bot/exts/moderation/modlog.py
Labels: a: backend, a: frontend, p: 3 - low, t: enhancement

#1564 Allow `!ban`, `!vban`, and `!pban` to take a duration
  bot/exts/moderation/infraction/infractions.py
  tests/bot/exts/moderation/infraction/test_infractions.py
Labels: a: backend, a: moderation, p: 3 - low, t: enhancement

#1542 Annihilate reddit cog
  bot/constants.py
  bot/converters.py
  bot/exts/info/reddit.py
  bot/utils/time.py
  config-default.yml
  tests/bot/utils/test_time.py
Labels: a: backend, p: 2 - normal

#1583 Updates YTDL Tag
  bot/resources/tags/ytdl.md
Labels: a: tags, t: enhancement

#1573 Add new cog for extracting data from metabase
  bot/constants.py
  bot/exts/moderation/metabase.py
  config-default.yml
Labels: a: backend, a: stats, p: 2 - normal, t: feature

#1582 Upgrade To 3.9 and Poetry
  .github/CODEOWNERS
  .github/workflows/lint-test.yml
  .pre-commit-config.yaml
  Dockerfile
  Pipfile.lock
  bot/constants.py
  poetry.lock
  pyproject.toml
  tests/README.md
Labels: a: CI, a: dependencies, p: 3 - low, t: enhancement

#1549 Nomination archive automation
  bot/constants.py
  bot/exts/fun/duck_pond.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
  bot/utils/messages.py
  config-default.yml
Labels: a: recruitment, p: 1 - high, t: enhancement

#1558 Added blocking tag
  bot/resources/tags/blocking.md
Labels: a: backend, a: tags, p: 3 - low, t: feature

#1606 Improve doc symbol name conflict resolution
  bot/exts/info/doc/_cog.py
Labels: a: backend, p: 2 - normal, t: enhancement

#1608 Enforce one help channel per user
  bot/constants.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_cooldown.py
  config-default.yml
Labels: a: backend, a: help channels, p: 2 - normal, t: enhancement
