Repository python-discord/bot, pull requests merged in 2021-04, with the labels that each got.

#1492 Use deleted reason if help channel is closed due to being empty
  bot/exts/help_channels/_channel.py
Labels: a: backend, a: help channels, p: 2 - normal, t: enhancement

#1464 Allow !poll to leads
  bot/constants.py
  bot/exts/utils/utils.py
  config-default.yml
Labels: a: utility, p: 1 - high, t: enhancement

#1479 Limit nominate command channels
  bot/constants.py
  bot/exts/recruitment/talentpool/_cog.py
  config-default.yml
Labels: a: backend, p: 2 - normal, t: feature

#1501 Migrate GHCR_TOKEN -> GITHUB_TOKEN in Docker build action
  .github/workflows/build.yml
Labels: a: CI

#1500 Don't create an instance of intents before calling its classmethod
  bot/bot.py
Labels: a: backend, p: 3 - low, t: enhancement

#1493 Stream and revokestream commands
  bot/constants.py
  bot/exts/moderation/stream.py
  bot/utils/scheduling.py
  config-default.yml
Labels: a: moderation, p: 1 - high, t: feature

#1509 Update YouTube terms in the `ytdl` tag
  bot/resources/tags/ytdl.md
Labels: a: tags, p: 2 - normal, t: enhancement

#1511 Close voice channels with defcon shutdown
  bot/exts/moderation/defcon.py
Labels: a: backend, a: moderation, p: 2 - normal, t: feature

#1503 Add a !tp get_review command to get the nomination text without posting it
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
Labels: a: recruitment, p: 1 - high, t: enhancement

#1414 Reworked dynamic available help message logic.
  bot/constants.py
  bot/exts/help_channels/_caches.py
  bot/exts/help_channels/_cog.py
  config-default.yml
Labels: a: help channels, p: 2 - normal, t: feature

#1513 Filtering: remove invisible characters before checking filters
  Pipfile
  Pipfile.lock
  bot/exts/filters/filtering.py
Labels: a: filters, p: 0 - critical, t: bug

#1014 Doc improvements
  LICENSE-THIRD-PARTY
  Pipfile
  Pipfile.lock
  bot/converters.py
  bot/decorators.py
  bot/exts/info/doc.py
  bot/exts/info/doc/__init__.py
  bot/exts/info/doc/_batch_parser.py
  bot/exts/info/doc/_cog.py
  bot/exts/info/doc/_html.py
  bot/exts/info/doc/_inventory_parser.py
  bot/exts/info/doc/_markdown.py
  bot/exts/info/doc/_parsing.py
  bot/exts/info/doc/_redis_cache.py
  bot/exts/info/source.py
  bot/utils/function.py
  bot/utils/lock.py
  bot/utils/messages.py
  tests/bot/exts/info/doc/__init__.py
  tests/bot/exts/info/doc/test_parsing.py
  tests/bot/test_converters.py
Labels: a: information, help wanted, p: 1 - high, t: bug, t: feature

#1471 Remove reactions from everyone when paginating and waiting for trashcan reaction.
  bot/pagination.py
  bot/utils/messages.py
  bot/utils/scheduling.py
Labels: a: backend, a: information, p: 2 - normal, t: feature

#1521 Use == instead of str.startswith when getting the source for a Command
  bot/exts/info/source.py
Labels: a: information, p: 3 - low, t: bug

#1524 Use a paginated embed to output multiple snowflakes
  bot/exts/utils/utils.py
Labels: a: utility, p: 3 - low, t: bug

#1514 AntiSpam: prevent attempts to punish a user multiple times
  bot/exts/filters/antispam.py
Labels: a: filters, p: 2 - normal, t: bug

#1523 Branding: correct broken timestamp persistence & improve cosmetics
  bot/exts/backend/branding/_cog.py
Labels: a: backend, p: 2 - normal, t: bug

#1507 Add custom command checks tag
  bot/resources/tags/customchecks.md
Labels: a: tags, p: 3 - low, t: feature

#1528 Allow eval almost everywhere
  bot/decorators.py
  bot/exts/backend/error_handler.py
  bot/exts/utils/snekbox.py
  bot/utils/checks.py
Labels: a: utility, p: 2 - normal

#1537 List non staff with stream perms
  bot/exts/moderation/stream.py
Labels: a: backend, a: moderation, p: 2 - normal, t: feature

#1532 !superstarify default time
  bot/exts/moderation/infraction/superstarify.py
Labels: a: backend, a: moderation, p: 3 - low, t: enhancement

#1526 Add Modpings cog and new Moderators role
  bot/constants.py
  bot/exts/moderation/modlog.py
  bot/exts/moderation/modpings.py
  config-default.yml
Labels: a: moderation, p: 1 - high, t: feature

#1543 Tests: AsyncMock is now in the standard library!
  tests/README.md
Labels: p: 1 - high, t: enhancement

#1535 Fix zen's negative indexing
  bot/exts/utils/utils.py
Labels: a: backend, p: 2 - normal, t: bug

#1529 Make trace logging optional and allow selective enabling
  bot/constants.py
  bot/log.py
  config-default.yml
Labels: a: backend, p: 3 - low, t: feature

#1426 Add bot and verified bot badges to the user embed.
  bot/constants.py
  bot/exts/info/information.py
  config-default.yml
  tests/bot/exts/info/test_information.py
Labels: a: information, p: 2 - normal, s: waiting for author, t: enhancement

#1028 Cog for code snippet links
  bot/exts/info/code_snippets.py
Labels: a: backend, a: information, p: 2 - normal, t: feature

#1552 Use a specific error message when a warned user isn't in the guild
  bot/exts/moderation/infraction/infractions.py
Labels: a: moderation, p: 2 - normal, t: enhancement

#1538 Suspend stream when revoked
  bot/exts/moderation/stream.py
Labels: a: backend, a: moderation, p: 2 - normal, t: feature

#954 Error Handler tests
  bot/exts/backend/error_handler.py
  tests/bot/exts/backend/test_error_handler.py
  tests/helpers.py
Labels: a: tests, p: 3 - low, t: feature

#1551 Fixed the code snippets limits
  bot/exts/info/code_snippets.py
Labels: a: backend, a: information, p: 2 - normal, t: bug

#1555 Code Snippets: Fix Error Handling for HTTP Request Errors
  bot/exts/info/code_snippets.py
Labels: a: information, p: 2 - normal, t: bug
