Repository python-discord/bot, pull requests merged in 2021-10, with the labels that each got.

#1837 Add get or fetch util
  bot/exts/backend/sync/_syncers.py
  bot/exts/events/code_jams/_cog.py
  bot/exts/filters/token_remover.py
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
  bot/exts/info/information.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/infraction/superstarify.py
  bot/exts/moderation/stream.py
  bot/exts/moderation/watchchannels/_watchchannel.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
  bot/exts/utils/reminders.py
  bot/utils/channel.py
  bot/utils/members.py
  pyproject.toml
  tests/bot/exts/backend/sync/test_users.py
  tests/bot/exts/filters/test_token_remover.py
  tests/bot/exts/moderation/infraction/test_infractions.py
Labels: a: backend, p: 1 - high, a: help channels, t: enhancement, s: needs review

#1851 Handle channel category being None in antispam/malware checks
  bot/exts/filters/antimalware.py
  bot/exts/filters/antispam.py
Labels: t: bug, p: 3 - low, a: filters

#1841 Allow helpers to edit their own nomination reason
  bot/exts/recruitment/talentpool/_cog.py
Labels: t: feature, a: backend, p: 2 - normal, a: recruitment, s: needs review

#1824 Gracefully handle invalid inventory content when adding a new doc package
  bot/converters.py
  bot/exts/info/doc/_cog.py
  bot/exts/info/doc/_inventory_parser.py
Labels: a: backend, a: docs, p: 2 - normal, t: enhancement, s: needs review

#1855 Improve anti-spam logs
  bot/exts/filters/antispam.py
Labels: t: bug, a: backend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#1806 Apply infractions before DMing
  bot/exts/moderation/infraction/_scheduler.py
Labels: a: backend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#1798 Prevent role hierarchy issues with infractions
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/superstarify.py
  tests/bot/exts/backend/sync/test_users.py
  tests/bot/exts/moderation/infraction/test_infractions.py
  tests/helpers.py
Labels: a: moderation, p: 3 - low, t: enhancement, s: needs review

#1859 Revert "Apply infractions before DMing"
  bot/exts/moderation/infraction/_scheduler.py
Labels: t: bug, p: 0 - critical, a: moderation

#1793 Clean Cog Rework
  bot/converters.py
  bot/exts/moderation/clean.py
  bot/exts/utils/clean.py
Labels: t: feature, a: backend, a: frontend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#1910 Consider parent channels when checking mod channels
  bot/utils/channel.py
Labels: t: bug, a: moderation, p: 3 - low
