Repository python-discord/bot, pull requests merged in 2021-02, with the labels that each got.

#1390 Protect against overflows caused by large expirations
  bot/converters.py
Labels: a: backend, p: 2 - normal, t: feature

#1395 Add tag on float imprecision
  bot/resources/tags/floats.md
Labels: a: tags, p: 3 - low, t: feature

#1313 Adds Member Checks Before Changing Voice
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/infractions.py
  tests/bot/exts/moderation/infraction/test_infractions.py
Labels: a: backend, a: moderation, needs 2 approvals, p: 2 - normal

#1378 Create voice.md
  bot/resources/tags/voice-verification.md
Labels: a: tags, l: 0 - beginner, needs 2 approvals, p: 3 - low, t: feature

#1397 Add jumplink to deleted messages
  bot/exts/moderation/modlog.py
Labels: a: moderation, p: 2 - normal, t: feature

#1403 Add tag that explains discord.py local file uploading as attachment
  bot/resources/tags/local-file.md
Labels: a: tags

#1400 Make `defaultdict` tag
  bot/resources/tags/defaultdict.md
Labels: a: tags, p: 3 - low, t: feature

#1396 Dynamic available help channels message
  bot/constants.py
  bot/exts/help_channels/_cog.py
  config-default.yml
Labels: a: help channels, p: 2 - normal, t: feature

#1405 New wording for some tag messages
  bot/resources/tags/dictcomps.md
  bot/resources/tags/f-strings.md
  bot/resources/tags/listcomps.md
Labels: a: frontend, a: tags

#1411 Internal API routing
  bot/api.py
  bot/constants.py
  bot/exts/utils/ping.py
  config-default.yml
Labels: a: API, a: backend, p: 1 - high, t: enhancement

#1401 Fix #1371 error via adding errors.
  bot/errors.py
  bot/exts/backend/error_handler.py
  bot/exts/moderation/infraction/_utils.py
Labels: a: backend, a: moderation, p: 2 - normal, t: bug

#1398 Make `KeyError` tag
  bot/resources/tags/dict-get.md
Labels: a: tags, p: 3 - low, t: feature

#1416 Creation of the PyPi command.
  bot/constants.py
  bot/exts/info/pypi.py
  config-default.yml
Labels: a: backend, needs 2 approvals, p: 2 - normal, t: feature

#1419 Escaping markdown in the PyPi embed.
  bot/exts/info/pypi.py
Labels: a: backend, p: 2 - normal, t: bug

#1418 Move Git SHA defining at end of Dockerfile to re-enable caching
  Dockerfile
Labels: p: 1 - high, t: enhancement, tools

#1404 Ignore attachment-only messages for duplicates antispam rule
  bot/rules/duplicates.py
  config-default.yml
Labels: a: filters

#1429 DM on open help channel
  bot/constants.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_message.py
  config-default.yml
Labels: a: help channels, p: 1 - high, t: feature

#1433 Add the off-topic etiquette to the off-topic tag
  bot/resources/tags/off-topic.md
Labels: a: tags, p: 2 - normal, t: enhancement

#1409 Makes Off Topic Name Search Insensitive
  bot/converters.py
  bot/exts/fun/off_topic_names.py
Labels: a: backend, a: fun, p: 3 - low, t: enhancement

#1428 pep 8 and inline-codeblock tag updates
  bot/resources/tags/inline.md
  bot/resources/tags/pep8.md
Labels: a: frontend, p: 2 - normal, t: enhancement

#1393 Made a tag to help people fix an empty file JSON error.
  bot/resources/tags/empty-json.md
Labels: a: tags, p: 3 - low, t: feature

#1436 Helpful Startup Errors
  bot/__main__.py
  bot/bot.py
  bot/constants.py
  config-default.yml
Labels: a: backend, a: tools, p: 1 - high, t: enhancement

#1438 Make "event" plural in socketstats embed
  bot/exts/utils/internal.py
Labels: a: utility, p: 3 - low, t: enhancement

#1439 Add a tag to explain a common error with substituting `=` and `==`.
  bot/resources/tags/comparison.md
Labels: a: tags, p: 2 - normal, t: feature
