Repository python-discord/bot, pull requests merged in 2021-01, with the labels that each got.

#1152 Make nomination reason optional
  bot/exts/moderation/watchchannels/talentpool.py
Labels: a: backend, a: moderation, p: 1 - high, s: waiting for author

#1340 Add check does user have permission to get raw message and re-enable raw command
  bot/exts/info/information.py
Labels: a: information, a: utility

#1354 Remove unwatch reason from the !nominate output
  bot/exts/moderation/watchchannels/talentpool.py
Labels: a: moderation, p: 1 - high

#760 Feature: suggest command usage for misspelt commands
  Pipfile.lock
  bot/exts/backend/error_handler.py
  bot/exts/info/tags.py
Labels: a: backend, needs 1 approval, p: 3 - low, t: feature

#1360 Fixes Error Handler Tag Dispatching
  bot/exts/backend/error_handler.py
  bot/exts/info/tags.py
Labels: a: backend, t: bug

#1364 Fix ZeroDivisionError In Error Handler
  bot/exts/backend/error_handler.py
Labels: a: backend, p: 2 - normal, t: bug

#1289 Add Branding Manager, add GitHub token
  Pipfile
  Pipfile.lock
  bot/constants.py
  bot/exts/backend/branding/__init__.py
  bot/exts/backend/branding/_cog.py
  bot/exts/backend/branding/_constants.py
  bot/exts/backend/branding/_decorators.py
  bot/exts/backend/branding/_errors.py
  bot/exts/backend/branding/_seasons.py
  bot/exts/backend/error_handler.py
  config-default.yml
Labels: a: backend, needs 2 approvals

#1367 Sync: chunk user requests
  bot/exts/backend/sync/_syncers.py
  tests/bot/exts/backend/sync/test_users.py
Labels: a: backend, p: 1 - high, t: bug

#1188 Help: Add handling of disabled commands to avoid DisabledCommand error
  bot/exts/info/help.py
Labels: a: information, needs 1 approval, p: 2 - normal, t: bug

#1202 Fuzzy match the role command.
  bot/exts/info/information.py
  tests/bot/exts/info/test_information.py
Labels: a: frontend, a: information, p: 2 - normal, t: feature

#1346 Fix Race Conditions in Help Channels
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_stats.py
  bot/log.py
  bot/utils/lock.py
  bot/utils/scheduling.py
Labels: a: help channels, p: 2 - normal, t: bug

#1344 Add new tag to explain python environments
  bot/resources/tags/environments.md
Labels: a: tags, p: 3 - low, t: feature

#1166 Enhance the !server command.
  bot/exts/info/information.py
  bot/utils/channel.py
Labels: a: frontend, a: information, needs 1 approval, p: 3 - low, t: feature

#1380 Alphabetize Configs
  bot/constants.py
  config-default.yml
Labels: a: backend, l: 0 - beginner, p: 3 - low, t: feature

#1372 Duckpond check
  bot/exts/fun/duck_pond.py
Labels: a: fun, p: 1 - high, t: feature

#1358 Make sure that moderators can interact with trashcans and restrict paginator usage
  bot/pagination.py
  bot/utils/messages.py
Labels: a: utility, p: 3 - low, t: feature

#1388 Gracefully handle non-existing infractions
  bot/exts/backend/error_handler.py
Labels: a: backend, needs 2 approvals, p: 2 - normal, t: feature
