Repository python-discord/bot, pull requests merged in 2021-08, with the labels that each got.

#1702 Add virtual environment (venv) tag
  bot/resources/tags/venv.md
Labels: a: backend, a: tags, p: 3 - low, t: feature

#1710 Update Sentry SDK to 1.3
  poetry.lock
  pyproject.toml
Labels: a: dependencies, p: 3 - low

#1712 Correctly delete from cache in ModPings
  bot/exts/moderation/modpings.py
Labels: a: moderation, p: 2 - normal, t: bug

#1705 Add commands to turn automatic review posting on or off
  bot/exts/recruitment/talentpool/_cog.py
Labels: a: recruitment, p: 1 - high, t: feature

#1708 Fix TypeError when infraction append is not given a reason
  bot/exts/moderation/infraction/management.py
Labels: a: moderation, p: 3 - low, t: bug

#1711 Suppress 403 error when sending DEFCON reject DM
  bot/exts/moderation/defcon.py
Labels: a: moderation, p: 3 - low, t: bug

#1709 Catch 404 error when waiting to delete message
  bot/utils/messages.py
Labels: a: backend, p: 3 - low, t: bug

#1678 Add `Leads` to Server info Embed.
  bot/errors.py
  bot/exts/info/information.py
Labels: a: backend, a: frontend, p: 3 - low, t: enhancement

#1732 Fixed error message to match true value
  bot/pagination.py
Labels: t: bug, good first issue, a: frontend, p: 3 - low

#1726 Catch various 404s from message operations
  bot/exts/fun/duck_pond.py
  bot/exts/info/codeblock/_cog.py
  bot/exts/moderation/incidents.py
Labels: t: bug, a: moderation, p: 3 - low, a: information, a: fun

#1745 fix: Nomination message now checks historic and new style nominations
  bot/exts/recruitment/talentpool/_review.py
Labels: t: bug, p: 2 - normal, a: recruitment

#1677 Additional code jam management utilities
  bot/exts/events/__init__.py
  bot/exts/events/code_jams/__init__.py
  bot/exts/events/code_jams/_channels.py
  bot/exts/events/code_jams/_cog.py
  bot/exts/filters/antimalware.py
  bot/exts/filters/antispam.py
  bot/exts/filters/filtering.py
  bot/exts/utils/jams.py
  tests/bot/exts/events/__init__.py
  tests/bot/exts/events/test_code_jams.py
Labels: t: feature, a: backend, p: 2 - normal, a: events

#1716 Don't send code snippets if the original message was deleted
  bot/exts/info/code_snippets.py
Labels: t: bug, p: 3 - low, a: information

#1752 Help channels: fix initialisation of available channels set
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_message.py
Labels: t: bug, p: 2 - normal, a: help channels, t: enhancement

#1725 added escape markdown in PythonNews
  bot/exts/info/python_news.py
Labels: t: bug, good first issue, a: backend, p: 2 - normal

#1749 Update reminders to reply instead of using a jump url to the origin message
  bot/exts/utils/reminders.py
Labels: p: 3 - low, a: utility, t: enhancement

#1761 Lowering log level to info for missing reminder replies.
  bot/exts/utils/reminders.py
Labels: t: bug, a: backend, p: 2 - normal, a: utility

#1743 fix: update urls in site cog
  bot/exts/info/site.py
Labels: t: bug, p: 2 - normal, a: information

#1742 Remove redundant converters and renamed FetchedMember to MemberOrUser
  bot/converters.py
  bot/errors.py
  bot/exts/fun/duck_pond.py
  bot/exts/info/information.py
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/watchchannels/bigbrother.py
  bot/exts/recruitment/talentpool/_cog.py
Labels: a: backend, p: 3 - low, t: enhancement

#1762 Metabase sharing
  bot/constants.py
  bot/exts/moderation/metabase.py
  config-default.yml
Labels: t: feature, a: backend, a: moderation, p: 1 - high

#1766 Update time format in reminder message to DAY_TIME from RELATIVE
  bot/exts/utils/reminders.py
Labels: a: frontend, p: 3 - low, t: enhancement

#1768 Update reminders command to use `UserMentionOrID` instead of `discord.Member`
  bot/exts/utils/reminders.py
Labels: a: backend, p: 2 - normal, a: utility, t: enhancement

#1771 Escape markdown in user's name for `!user` command
  bot/exts/info/information.py
Labels: t: bug, a: backend, a: information

#1682 Allow manual mutes to override auto mutes
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/superstarify.py
  tests/bot/exts/moderation/infraction/test_infractions.py
  tests/bot/exts/moderation/infraction/test_utils.py
Labels: a: moderation, p: 2 - normal, t: enhancement

#1760 Cross-channel and deleted messages anti-spam
  bot/constants.py
  bot/exts/filters/antispam.py
  bot/exts/info/pep.py
  bot/utils/caching.py
  bot/utils/message_cache.py
  config-default.yml
  tests/bot/utils/test_message_cache.py
Labels: t: feature, p: 1 - high, a: filters

#1770 Ignore bot mentions in antispam mentions rule
  bot/rules/mentions.py
  tests/bot/rules/test_mentions.py
Labels: a: moderation, p: 2 - normal

#1700 Restrict internal eval command to bot owner when in debug mode
  bot/constants.py
  bot/exts/utils/internal.py
  config-default.yml
Labels: p: 2 - normal, a: utility, t: enhancement

#1776 Give partners and community members more access
  bot/constants.py
  bot/exts/info/help.py
  bot/exts/info/information.py
  bot/exts/moderation/stream.py
  bot/exts/utils/ping.py
  bot/exts/utils/reminders.py
  bot/exts/utils/utils.py
  tests/bot/exts/info/test_information.py
Labels: s: WIP, a: backend, t: enhancement, status: approved

#1731 Add converter typehints
  bot/converters.py
  bot/errors.py
  bot/exts/info/source.py
  bot/exts/moderation/modpings.py
  bot/exts/moderation/silence.py
  bot/exts/utils/extensions.py
  tests/bot/test_converters.py
Labels: a: backend, p: 3 - low, t: enhancement

#1777 Fix antispam looking at wrong messages
  bot/exts/filters/antispam.py
Labels: t: bug, a: filters

#1790 Prevent the usage of names and nicknames when issuing infractions.
  bot/converters.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
  bot/exts/utils/reminders.py
Labels: a: backend, a: moderation, p: 2 - normal, t: enhancement

#1792 Change how the `raw` command is invoked.
  bot/exts/info/information.py
Labels: a: backend, a: moderation, p: 2 - normal, t: enhancement

#1791 Allow dmrelay to only be used in mod channels.
  bot/exts/moderation/dm_relay.py
Labels: t: bug, a: backend, a: moderation, p: 2 - normal

#1779 CI: check for dependency licenses
  .github/workflows/lint-test.yml
  poetry.lock
  pyproject.toml
Labels: t: feature, a: dependencies, a: CI, p: 2 - normal

#1786 Rewording botvars.md tag
  bot/resources/tags/botvar.md
Labels: p: 3 - low, a: tags, t: enhancement

#1787 Add support for searching infractions by infraction id
  bot/exts/moderation/infraction/management.py
Labels: t: feature, a: backend, a: API, a: moderation
