Repository python-discord/bot, pull requests merged in 2022-06, with the labels that each got.

#2153 Add Support For Multiple Banners
  bot/exts/backend/branding/_cog.py
  bot/exts/backend/branding/_repository.py
Labels: a: backend, p: 2 - normal, t: enhancement

#2187 Filter out all header links in signatures for docs
  bot/exts/info/doc/_html.py
  bot/exts/info/doc/_parsing.py
Labels: t: bug, p: 2 - normal, a: information

#1936 Unpin all messages when help channel goes dormant
  bot/exts/help_channels/_caches.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_message.py
Labels: p: 2 - normal, a: help channels, t: enhancement

#2186 Remove allowed_strings in favour of Literal
  bot/converters.py
  bot/exts/info/doc/_cog.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/metabase.py
Labels: a: backend, p: 3 - low, t: enhancement

#2040 Mentioning the user when a nomination 'fails'
  bot/exts/recruitment/talentpool/_cog.py
Labels: a: frontend, p: 3 - low, t: enhancement, a: recruitment

#2189 Clean improvments
  bot/exts/moderation/clean.py
Labels: t: bug, t: feature, a: moderation, p: 2 - normal

#1568 Add reroll command.
  bot/exts/fun/off_topic_names.py
Labels: t: feature, a: backend, p: 3 - low, s: waiting for author, a: fun

#2192 Fix autobans not working for invite filters
  bot/exts/filters/filtering.py
Labels: t: bug, p: 1 - high, a: filters

#2199 filter out header links in descriptions
  bot/exts/info/doc/_html.py
  bot/exts/info/doc/_parsing.py
Labels: t: bug, p: 3 - low, a: information

#2196 Enhance guild_invite based autobans
  bot/exts/filters/filter_lists.py
  bot/exts/filters/filtering.py
Labels: a: moderation, p: 2 - normal, t: enhancement
