Repository python-discord/bot, pull requests merged in 2022-02, with the labels that each got.

#2072 Traceback tag: Emphasize reason for sharing traceback
  bot/resources/tags/traceback.md
Labels: p: 3 - low, a: tags, t: enhancement

#2075 Remove Coveralls completely
  README.md
  poetry.lock
  pyproject.toml
Labels: a: dependencies, a: docs, p: 3 - low, t: enhancement

#2083 Removed extra newline in the traceback tag.
  bot/resources/tags/traceback.md
Labels: a: backend, p: 3 - low, a: tags, t: enhancement, s: needs review

#2085 Fix ignoring of raw DM edits
  bot/exts/moderation/modlog.py
Labels: t: bug, a: moderation, p: 2 - normal, s: needs review

#2090 Fix: `!raw` can now be used in threads
  bot/exts/info/information.py
Labels: t: bug, a: backend, p: 3 - low, a: information, s: needs review

#2033 Use custom clean cog when purge banning
  bot/constants.py
  bot/decorators.py
  bot/exts/moderation/clean.py
  bot/exts/moderation/infraction/infractions.py
  tests/bot/exts/moderation/infraction/test_infractions.py
  tests/bot/exts/moderation/test_clean.py
Labels: a: moderation, p: 2 - normal, t: enhancement, s: needs review

#2092 Remove unnecessary Infraction conversion in clean ban
  bot/exts/moderation/infraction/infractions.py
  tests/bot/exts/moderation/infraction/test_infractions.py
Labels: a: backend, a: moderation, p: 3 - low, t: enhancement

#2096 Add user ID to message content for all mod alerts
  bot/exts/filters/filtering.py
  bot/exts/moderation/modlog.py
Labels: a: frontend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#2097 Remove auto joining of new threads.
  bot/exts/utils/bot.py
Labels: t: bug, a: backend, p: 3 - low, s: needs review

#2084 Add a cog to bump threads
  bot/exts/utils/thread_bumper.py
Labels: t: feature, p: 2 - normal, a: utility, s: needs review

#2094 Validate regex when adding to the filter_token filter
  bot/exts/filters/filter_lists.py
Labels: a: frontend, p: 1 - high, a: filters, t: enhancement, s: needs review

#2100 Remove discord formatted timestamp from log message
  bot/exts/moderation/stream.py
Labels: a: backend, p: 3 - low, t: enhancement, s: needs review

#2078 Ensure claimant cache is populated on help channel init
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
Labels: a: backend, p: 2 - normal, a: help channels, t: enhancement, s: needs review

#2101 Make sure the regex match is not None before adding to claimaints cache
  bot/exts/help_channels/_channel.py
Labels: p: 2 - normal, a: help channels, s: needs review

#2071 Notify helpers without ping when dormant channels are running low
  bot/constants.py
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_message.py
  config-default.yml
Labels: p: 2 - normal, a: help channels, t: enhancement, s: needs review
