Repository python-discord/bot, pull requests merged in 2022-12, with the labels that each got.

#2356 Fix help channels with no content not opening properly
  bot/exts/help_channels/_channel.py
Labels: t: bug, a: help channels, s: needs review

#2357 Update modlog for threads
  bot/exts/moderation/modlog.py
Labels: a: moderation, t: enhancement

#2319 Link previous nomination threads to a user nomination's history
  bot/exts/recruitment/talentpool/_api.py
  bot/exts/recruitment/talentpool/_cog.py
Labels: t: feature, a: recruitment, s: needs review
