Repository python-discord/bot, pull requests merged in 2022-07, with the labels that each got.

#2207 Capitalize the "D" in "Discord"
  bot/resources/tags/paste.md
Labels: p: 3 - low, a: tags

#2209 Add tag to use `python -m pip` to install packages
  bot/resources/tags/dashmpip.md
Labels: a: tags

#2213 Add Aliases for Tags Support
  bot/exts/info/tags.py
  bot/resources/tags/dashmpip.md
  bot/resources/tags/f-strings.md
Labels: p: 2 - normal, a: information, a: tags, t: enhancement

#2218 Allow snekbox to run in both 3.10 and 3.11
  bot/constants.py
  bot/exts/utils/snekbox.py
  config-default.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tests/bot/exts/utils/test_snekbox.py
Labels: a: utility, t: enhancement

#2225 Use the view clear on timeout feature from bot-core in snekbox
  bot/exts/utils/snekbox.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tests/bot/exts/utils/test_snekbox.py
Labels: p: 2 - normal, a: utility, t: enhancement, s: needs review

#2220 Update `!modpings off` confirmation to use a discord timestamp.
  bot/exts/moderation/modpings.py
Labels: a: backend, a: moderation, p: 3 - low, t: enhancement, s: needs review

#2224 feat(tags): add print-return tag
  bot/resources/media/print-return.gif
  bot/resources/tags/print-return.md
Labels: a: tags, t: enhancement, s: needs review
