Repository python-discord/bot, pull requests merged in 2022-03, with the labels that each got.

#2107 fix: Make the help command's button only work for author
  bot/exts/info/help.py
Labels: p: 2 - normal, a: information, t: enhancement, s: needs review

#2086 Fix DM handling for code snippets.
  bot/exts/info/code_snippets.py
Labels: t: bug, p: 3 - low, a: information, s: needs review

#1680 Add command to resend infraction DM
  bot/constants.py
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/infraction/superstarify.py
  tests/bot/exts/moderation/infraction/test_utils.py
Labels: t: feature, a: moderation, p: 2 - normal

#2109 Add regex tag
  bot/resources/tags/regex.md
Labels: p: 3 - low, a: tags, t: enhancement, s: needs review

#2039 Disallow Editing Infraction Durations Into The Past
  bot/decorators.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/infraction/superstarify.py
Labels: a: backend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#2121 Remove mod_log.ignore of invocations of the voice verify command
  bot/exts/moderation/voice_gate.py
Labels: a: frontend, a: moderation, p: 2 - normal, s: needs review

#2111 Remove modlog ignore for voice verifcation
  bot/exts/moderation/voice_gate.py
Labels: a: frontend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#1602 Add the timeit command
  bot/exts/filters/filtering.py
  bot/exts/utils/snekbox.py
  tests/bot/exts/utils/test_snekbox.py
Labels: t: feature, a: backend, a: frontend, p: 2 - normal, s: needs review

#2122 feat: add created at field for message deleted log
  bot/exts/moderation/modlog.py
Labels: a: frontend, a: moderation, p: 2 - normal, t: enhancement
