Repository python-discord/bot, pull requests merged in 2022-08, with the labels that each got.

#2240 Updated `purge` to require at least one user
  bot/exts/moderation/clean.py
Labels: t: bug, a: moderation, p: 1 - high, s: needs review

#2229 Update to Python 3.10 and async-rediscache v1.0.0
  .github/workflows/lint-test.yml
  Dockerfile
  bot/__main__.py
  bot/exts/backend/sync/_syncers.py
  bot/exts/filters/antispam.py
  bot/exts/info/doc/_redis_cache.py
  bot/exts/moderation/defcon.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tests/base.py
  tests/bot/exts/backend/test_error_handler.py
  tests/bot/exts/moderation/test_incidents.py
  tests/bot/exts/moderation/test_silence.py
  tox.ini
Labels: a: dependencies, p: 1 - high, t: enhancement, s: needs review

#2251 Added mod alerted notice to auto-infractions
  bot/exts/moderation/infraction/_scheduler.py
Labels: a: frontend, a: moderation, p: 2 - normal, t: enhancement, s: needs review

#2250 feat: command for banning compromised accounts
  bot/exts/filters/filtering.py
  bot/exts/moderation/infraction/infractions.py
Labels: t: feature, a: moderation, p: 2 - normal, s: waiting for author

#2031 Incident archive msg improvements
  bot/exts/moderation/incidents.py
  tests/bot/exts/moderation/test_incidents.py
Labels: a: frontend, a: moderation, p: 3 - low, t: enhancement, s: needs review

#2017 fix: don't include replied mentions in mention filter
  bot/rules/mentions.py
  tests/bot/rules/test_mentions.py
  tests/helpers.py
Labels: a: backend, p: 1 - high, a: filters, t: enhancement

#2234 Fixes infraction display duration off-by-one discrepancy
  bot/converters.py
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/infraction/superstarify.py
  bot/utils/time.py
  tests/bot/exts/moderation/infraction/test_infractions.py
  tests/bot/exts/moderation/infraction/test_utils.py
Labels: a: frontend, a: API, p: 3 - low, t: enhancement, s: needs review
