Repository python-discord/bot, pull requests merged in 2022-11, with the labels that each got.

#2285 Add slicing tag
  bot/resources/tags/slicing.md
Labels: p: 2 - normal, a: tags, s: needs review

#2315 Pass args to the Python version switch button
  bot/exts/utils/snekbox.py
Labels: t: bug, hacktoberfest-accepted

#2309 Add rule keywords discoverability
  bot/exts/info/information.py
Labels: a: backend, p: 2 - normal, t: enhancement, s: needs review

#2230 Add nomodule tag
  bot/resources/tags/nomodule.md
Labels: p: 3 - low, s: waiting for author, a: tags, t: enhancement

#2307 Talentpool Cleanup
  bot/exts/recruitment/talentpool/_api.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
  poetry.lock
  pyproject.toml
  tests/bot/exts/recruitment/talentpool/test_review.py
Labels: p: 1 - high, a: recruitment, s: needs review

#2320 Update intents tag to better reflect discord.py's API changes
  bot/resources/tags/intents.md
Labels: a: tags

#2318 Update help channel system to use forum channels
  .gitignore
  bot/constants.py
  bot/exts/help_channels/__init__.py
  bot/exts/help_channels/_caches.py
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
  bot/exts/help_channels/_message.py
  bot/exts/help_channels/_name.py
  bot/exts/help_channels/_stats.py
  bot/exts/info/codeblock/_cog.py
  bot/exts/moderation/modlog.py
  bot/exts/utils/snekbox.py
  bot/utils/channel.py
  config-default.yml
Labels: p: 1 - high, a: help channels, t: enhancement, s: needs review

#2337 Misc Fixes For Help Forum
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
  bot/pagination.py
  bot/utils/messages.py
Labels: t: bug, p: 1 - high, a: help channels

#2347 include Thread & PrivateChannel in get_or_fetch_channel return types
  bot/utils/channel.py
Labels: a: backend, p: 3 - low, t: enhancement, s: needs review

#2344 Dont use removed talentpool cache
  bot/exts/info/information.py
Labels: t: bug, a: information, a: recruitment, s: needs review

#2350 Rename print-return to return-gif
  bot/resources/tags/return-gif.md
Labels: a: tags
