Repository python-discord/bot, pull requests merged in 2022-01, with the labels that each got.

#2036 Infraction mod-log improvements
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/management.py
Labels: a: frontend, a: moderation, p: 3 - low, t: enhancement, s: needs review

#2041 Restrict allowed mentions for !eval results
  bot/exts/utils/snekbox.py
  tests/bot/exts/utils/test_snekbox.py
Labels: t: bug, a: utility, s: needs review

#2048 Shorten the `TXT_EMBED_DESCRIPTION` message
  bot/exts/filters/antimalware.py
Labels: a: frontend, a: filters, p: 2 - normal, t: enhancement

#2043 Add bot-core as a dependency
  bot/converters.py
  bot/exts/filters/filtering.py
  bot/exts/utils/snekbox.py
  bot/monkey_patches.py
  bot/utils/regex.py
  poetry.lock
  pyproject.toml
Labels: a: dependencies, a: backend, p: 2 - normal, t: enhancement, s: needs review

#1721 Refactor time utilities
  bot/converters.py
  bot/exts/info/information.py
  bot/exts/moderation/defcon.py
  bot/exts/moderation/infraction/_scheduler.py
  bot/exts/moderation/infraction/management.py
  bot/exts/moderation/infraction/superstarify.py
  bot/exts/moderation/modlog.py
  bot/exts/moderation/modpings.py
  bot/exts/moderation/slowmode.py
  bot/exts/moderation/stream.py
  bot/exts/moderation/watchchannels/_watchchannel.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
  bot/exts/utils/reminders.py
  bot/exts/utils/utils.py
  bot/utils/scheduling.py
  bot/utils/time.py
  tests/bot/exts/info/test_information.py
  tests/bot/utils/test_time.py
Labels: t: bug, a: backend, p: 3 - low, t: enhancement, s: needs review

#2055 Add missing arguments to `notify_infraction` call
  bot/exts/moderation/infraction/superstarify.py
Labels: t: bug, a: moderation, p: 1 - high, s: needs review

#2062 Add embed message mentioning help channel claimant
  bot/exts/help_channels/_cog.py
Labels: a: help channels, s: needs review

#2064 Use `voice_gate_blocked` field from API for voice_gate
  bot/exts/moderation/voice_gate.py
Labels: t: bug, p: 0 - critical, a: API, s: needs review
