Repository python-discord/bot, pull requests merged in 2022-10, with the labels that each got.

#2267 Improve reporting on autoban filter lists
  bot/constants.py
  bot/exts/filters/filter_lists.py
  config-default.yml
Labels: t: feature, a: moderation, p: 1 - high, s: needs review

#1917 Patreon
  bot/constants.py
  bot/exts/info/patreon.py
  config-default.yml
Labels: t: feature, a: backend, p: 2 - normal, a: information, s: needs review

#2006 enhancement(filters): use a stricter bot token regex
  bot/exts/filters/token_remover.py
Labels: a: backend, a: filters, p: 2 - normal, t: enhancement

#2287 Bump bot-core to 8.2.1 and bump other deps to latest
  bot/utils/helpers.py
  poetry.lock
  pyproject.toml
  tests/bot/exts/backend/test_error_handler.py
Labels: a: dependencies, a: backend, p: 2 - normal, s: needs review

#2293 Support the new SequenceProxy type in d.py
  bot/exts/moderation/clean.py
Labels: t: bug, a: moderation, p: 1 - high

#2274 Check for commands being None in try_get_tag and try_silence
  bot/exts/backend/error_handler.py
Labels: t: bug, a: backend, p: 3 - low, s: needs review

#2308 Move Security cog to backend extension
  bot/exts/backend/security.py
  tests/bot/exts/backend/test_security.py
Labels: a: backend, a: filters, p: 2 - normal

#2310 Fix for rules greedy parsing freezing
  bot/exts/info/information.py
  tests/bot/exts/info/test_information.py
Labels: t: bug, a: backend, p: 1 - high, a: information, s: needs review
