Repository python-discord/bot, pull requests merged in 2023-04, with the labels that each got.

#2519 Correct log upload
  bot/utils/messages.py
Labels: t: bug, a: backend, a: moderation, p: 1 - high

#2517 Thread filter
  bot/exts/filtering/_filter_context.py
  bot/exts/filtering/_filter_lists/token.py
  bot/exts/filtering/_settings_types/actions/remove_context.py
  bot/exts/filtering/filtering.py
  bot/exts/help_channels/_channel.py
  bot/exts/help_channels/_cog.py
Labels: t: bug, t: feature, p: 1 - high, a: filters, a: help channels, s: needs review

#2418 Take activity into account in talentpool
  bot/constants.py
  bot/exts/recruitment/talentpool/_api.py
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
  tests/bot/exts/recruitment/talentpool/test_review.py
Labels: t: feature, a: recruitment, s: needs review

#2524 Fix deleted message logging in mod alert
  bot/exts/filtering/_ui/ui.py
Labels: t: bug, a: backend, p: 1 - high, a: filters

#2526 Redesign infractions embed
  bot/exts/info/help.py
  bot/exts/moderation/infraction/management.py
Labels: a: frontend, a: moderation, p: 2 - normal, t: enhancement

#2522 Refine the invite code before filtering it
  bot/exts/filtering/_filter_lists/invite.py
Labels: t: bug, p: 1 - high, a: filters
