Repository python-discord/bot, pull requests merged in 2023-06, with the labels that each got.

#2546 Update mutability tag to link Nedbat's talk
  bot/resources/tags/mutability.md
Labels: p: 3 - low, a: tags, t: enhancement

#2632 Add 'n' alias and 'nom' root alias to 'nominate' command
  bot/exts/recruitment/talentpool/_cog.py
Labels: p: 2 - normal, t: enhancement, a: recruitment, s: needs review

#2650 Simplify subscribe cog
  bot/exts/info/subscribe.py
Labels: t: enhancement, s: needs review
