Repository python-discord/bot, pull requests merged in 2023-02, with the labels that each got.

#2401 Add legacy help access to self-assignable roles
  bot/constants.py
  bot/exts/info/subscribe.py
  config-default.yml
Labels: p: 2 - normal, a: information

#2374 Make the infraction message mention @ModMail
  bot/exts/moderation/infraction/_utils.py
Labels: a: frontend, a: moderation, s: waiting for author

#2415 Fix timeit commands with backticks after command name
  bot/exts/backend/error_handler.py
  tests/bot/exts/backend/test_error_handler.py
Labels: a: backend, a: utility, t: enhancement, s: needs review
