Repository python-discord/bot, pull requests merged in 2024-07, with the labels that each got.

#3073 Make !warn fail if DMing the user is unsuccessful
  bot/exts/moderation/infraction/_scheduler.py
Labels: s: needs review

#3074 Faster and Improved silence tests
  tests/bot/exts/moderation/test_silence.py
  tests/helpers.py
Labels: a: tests, t: enhancement, s: needs review

#3106 Added message link to replied or parent message
  bot/exts/moderation/modlog.py
Labels: a: moderation, p: 2 - normal, t: enhancement, s: needs review
