Repository python-discord/bot, pull requests merged in 2024-03, with the labels that each got.

#2924 Add upload date to !pypi
  bot/exts/info/pypi.py
Labels: a: frontend, p: 3 - low, t: enhancement, s: needs review

#2864 Support reply as a message reference for !raw [json]
  bot/exts/info/information.py
Labels: p: 3 - low, a: information, s: waiting for author, t: enhancement

#2797 New Tag: "Avoid System Python for Development"
  bot/resources/tags/system-python.md
Labels: p: 3 - low, a: tags, t: enhancement, s: needs review

#2967 Removed inactive users from `CODEOWNERS`
  .github/CODEOWNERS
Labels: p: 3 - low, a: tools, t: enhancement, s: needs review

#2439 Make help showable through button on command error message.
  bot/exts/backend/error_handler.py
  tests/bot/exts/backend/test_error_handler.py
Labels: a: backend, t: enhancement, s: needs review

#2316 Ask for confirmation when banning members with elevated roles
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/_views.py
  bot/exts/moderation/infraction/infractions.py
Labels: a: moderation, t: enhancement, s: needs review

#2669 Phishing button
  bot/exts/filtering/_filter_context.py
  bot/exts/filtering/_filter_lists/domain.py
  bot/exts/filtering/_filter_lists/invite.py
  bot/exts/filtering/_filters/invite.py
  bot/exts/filtering/_ui/ui.py
Labels: t: feature, a: frontend, a: filters, p: 2 - normal, s: needs review

#2839 Support editing of timeout durations.
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/infractions.py
  bot/exts/moderation/infraction/management.py
Labels: t: bug, a: moderation, p: 2 - normal
