Repository python-discord/bot, pull requests merged in 2024-04, with the labels that each got.

#2996 Fix coroutine never awaited warning in sync tests
  tests/bot/exts/backend/sync/test_cog.py
Labels: a: tests, p: 2 - normal, s: needs review

#2987 Reference the `/tag` slash-command instead of the old `!tags` in the footer of tags listings
  bot/exts/info/tags.py
Labels: a: frontend, p: 2 - normal, s: needs review

#2997 Test that infraction reason sent to database is not truncated
  tests/bot/exts/moderation/infraction/test_infractions.py
Labels: p: 3 - low, a: tests, s: needs review

#2982 Fix case sensitivity bug in phishing button
  bot/exts/filtering/_filter_lists/domain.py
  bot/exts/filtering/_ui/ui.py
Labels: t: bug, a: filters, p: 2 - normal, s: needs review

#3021 Use correct key to check if infraction has expiry
  bot/exts/moderation/infraction/infractions.py
Labels: t: bug, a: moderation, p: 3 - low, s: needs review

#3013 Removed rich embed filter as its no longer necessary.
  bot/exts/filtering/_filters/unique/rich_embed.py
Labels: a: moderation, a: filters, p: 2 - normal, t: enhancement, s: needs review

#3029 Update system-python.md: Improve bullet point formatting
  bot/resources/tags/system-python.md
Labels: p: 3 - low, a: tags, t: enhancement, s: needs review

#3022 Notify help threads if the owner is no longer on the server
  bot/exts/help_channels/_cog.py
Labels: p: 2 - normal, a: help channels, s: needs review
