Repository python-discord/bot, pull requests merged in 2024-05, with the labels that each got.

#3047 Add context menu command for user nomination
  bot/bot.py
  bot/exts/backend/error_handler.py
  bot/exts/recruitment/talentpool/_api.py
  bot/exts/recruitment/talentpool/_cog.py
  tests/bot/exts/backend/test_error_handler.py
Labels: t: feature, p: 2 - normal, a: recruitment, s: needs review

#2980 Change color of cancel staff infraction button from green to gray
  bot/exts/moderation/infraction/_utils.py
  bot/exts/moderation/infraction/_views.py
Labels: a: frontend, a: moderation, p: 2 - normal, s: waiting for author, t: enhancement

#3038 Push raw to pastebin if too long for Discord
  bot/exts/info/information.py
Labels: a: frontend, a: utility, t: enhancement, s: needs review

#3056 Allow for more than 3 nomination votes if others are ticketed
  bot/exts/recruitment/talentpool/_review.py
  tests/bot/exts/recruitment/talentpool/test_review.py
Labels: p: 2 - normal, t: enhancement, a: recruitment, s: needs review, python

#3000 Add feature to append additional text to nomination reasons
  bot/exts/recruitment/talentpool/_cog.py
Labels: p: 2 - normal, s: waiting for author, t: enhancement, a: recruitment, s: needs review

#3005 Fix showing `!source` on tags when tags cog is reloaded
  bot/converters.py
  bot/exts/info/source.py
Labels: t: bug, a: backend, p: 2 - normal, s: needs review

#2999 Reply to eval command
  bot/exts/utils/snekbox/_cog.py
  tests/bot/exts/utils/snekbox/test_snekbox.py
  tests/helpers.py
Labels: p: 3 - low, a: utility, s: needs review

#3064 Relay creations and amendments to nominations to vote threads
  bot/exts/recruitment/talentpool/_api.py
  bot/exts/recruitment/talentpool/_cog.py
Labels: p: 2 - normal, t: enhancement, a: recruitment, s: needs review, python

#3063 Post nomination entries into the voting thread instead of the root
  bot/exts/recruitment/talentpool/_cog.py
  bot/exts/recruitment/talentpool/_review.py
Labels: p: 2 - normal, t: enhancement, a: recruitment, s: needs review, python
